<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968922187402-ubgs69bn9leoa6h5l21q5c9h62fpmemc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968922187402-ubgs69bn9leoa6h5l21q5c9h62fpmemc</string>
	<key>API_KEY</key>
	<string>AIzaSyC2ZuP6JOatEFYor1isGoNMA-R4TjNW1rU</string>
	<key>GCM_SENDER_ID</key>
	<string>968922187402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.podarpearl.parentapp</string>
	<key>PROJECT_ID</key>
	<string>podar-pearl-parent-app</string>
	<key>STORAGE_BUCKET</key>
	<string>podar-pearl-parent-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968922187402:ios:5e7ebf7b9fae183457cf73</string>
</dict>
</plist>