<footer class="footer rounded-0">
    <div class="footer-bottom ios-pb-10">
        <div class="h-80px">
        </div>
        <div class="footer-menu app-container container-xxl">
            <div class="footer-menu-left">
                <div class="footer-menu-list" ui-sref="home({loadBlocks:false})" ui-sref-opts="{reload: true}">
                    <!-- <img class="footer-menu-list-icon active" src="clients/{{$root.ClientSettings.Client}}/img/home-icon.svg"> -->
                    <span class="footer-menu-list-icon active">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                        <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
                      </svg>
                    </span>
                    <h3 class="text-grey-800">Home</h3>
                </div>
                <div class="footer-menu-list" ui-sref="allcategoriestree">
                    <!-- <img class="footer-menu-list-icon active" src="clients/{{$root.ClientSettings.Client}}/img/options-lines.svg"> -->
                    <span class="footer-menu-list-icon active">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-collection-fill" viewBox="0 0 16 16">
                        <path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
                      </svg>
                    </span>
                    <h3 class="text-grey-800">Category</h3>
                </div>
            </div>
            <div class="footer-menu-right">

                <div class="licartClick footer-menu-list " ui-sref="singlecheckout">
                    <span class="footer-menu-list-icon active position-relative">
                        <span
                        class="badge badge-circle badge-danger position-absolute translate-end bottom-100 start-100 ms-n10 mb-n4 d-flex flex-center  h-20px w-20px fs-9 text-white  "
                        ng-bind="ShoppingCartCount" ng-if="ShoppingCartCount > 0" 
                        style="border: 2px solid var(--bs-body-bg);"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"  fill="currentColor" ><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
                        </span>
                    <!-- <img class="footer-menu-list-icon active" src="clients/{{$root.ClientSettings.Client}}/img/more-icon.svg"> -->
                    <h3 class="text-grey-800" >Cart</h3>
            
                </div>
                <div class="footer-menu-list" ui-sref="setting">
                    <!-- <img class="footer-menu-list-icon active" src="clients/{{$root.ClientSettings.Client}}/img/options-lines.svg"> -->
                    <span class="footer-menu-list-icon active">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                          </svg>
                    </span>
                    <h3 class="text-grey-800">Settings</h3>
                </div>
                
       
            </div>
        </div>
</footer>