<div class="d-flex flex-column flex-column-fluid flex-lg-row" ng-controller="ResetPasswordController">
    <div class="d-flex flex-center w-lg-50 pt-15 pt-lg-0 px-10">
        <div class="d-flex flex-center flex-lg-start flex-column">
            <a class="mb-7">
                <img alt="Logo" class="h-40px" src="./clients/{{$root.ClientSettings.Client}}/images/pearl_logo.png">
            </a>
        </div>
    </div>
    <div class="d-flex flex-center w-lg-50 p-10">
        <div class="card rounded-3 w-md-550px">
            <div class="card-body p-10 p-lg-20">
                <form class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework" name="resetForm_Step1"
                    id="resetForm_Step1" ng-submit="OTPGenerate()">
                    <div class="text-center mb-10">
                        <h1 class="text-dark fw-bolder mb-3">Forgot Password ?</h1>
                        <div class="text-gray-500 fw-bold fs-6">Enter your email to reset your password.</div>
                    </div>
                    <div class="fv-row mb-8 fv-plugins-icon-container">
                        <input type="email" id="email" name="email" placeholder="Enter email"
                            ng-model="User.LoginEmailID" ng-required="true" ng-change="ChangeClick()"
                            class="form-control bg-transparent">
                        <div class="fv-plugins-message-container invalid-feedback" ng-="ErrorMessage"
                            ng-if="ErrorMessage!=''" translate>{{ErrorMessage}}</div>
                    </div>
                    <div class="d-flex flex-wrap justify-content-center pb-lg-0">
                        <button type="submit" value="Generate OTP" class="btn btn-primary me-4">
                            <span class="indicator-label">Submit</span>
                            <span class="indicator-progress">Please wait...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                        </button>
                        <a ui-sref="login" class="btn btn-light">Cancel</a>
                    </div>

                </form>
                <form class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework" name="resetForm_Step2" style="display: none;"
                    id="resetForm_Step2" ng-submit="VerifyOTP()">
                    <span class="mb-10" style="text-align: center; color: green;" ng-="SuccessMessage"
                        ng-if="SuccessMessage!=''" translate>{{SuccessMessage}}</span>
                    <br>
                    <div class="text-center mb-10">
                        <h1 class="text-dark fw-bolder mb-3">Verify OTP</h1>
                        <div class="text-gray-500 fw-bold fs-6">Enter OTP send to your email.</div>
                    </div>
                    <div class="fv-row mb-8 fv-plugins-icon-container">
                        <input type="number" id="OTP" name="OTP"  placeholder="Enter the OTP"
                            ng-model="User.OTP" ng-required="true" ng-change="ChangeClick()"
                            class="form-control bg-transparent">
                        <div class="fv-plugins-message-container invalid-feedback" ng-="ErrorMessage"
                            ng-if="ErrorMessage!=''" translate>{{ErrorMessage}}</div>
                    </div>
                    <div class="d-flex flex-wrap justify-content-center pb-lg-0">
                        <button type="submit" value="Verify OTP" class="btn btn-primary me-4">
                            <span class="indicator-label">Verify OTP</span>
                            <span class="indicator-progress">Please wait...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                        </button>
                        <a ui-sref="login" class="btn btn-light">Cancel</a>
                    </div>

                </form>
                <form class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework" name="resetForm_Step3" style="display: none;"
                    id="resetForm_Step3" ng-submit="SubmitChangePassword()">
                    <span class="mb-10" style="text-align: center; color: green;" ng-="SuccessMessage"
                        ng-if="SuccessMessage!=''" translate>{{SuccessMessage}}</span>
                    <br>
                    <div class="text-center mb-10">
                        <h1 class="text-dark fw-bolder mb-3">New Password</h1>
                        <div class="text-gray-500 fw-bold fs-6">Enter new password.</div>
                    </div>
                    <div class="fv-row mb-8 fv-plugins-icon-container">
                        <input type="password" id="newPassword" name="newPassword" class="inputFields"
                            placeholder="Enter New Password" ng-model="PasswordResetModel.Password" ng-required="true"
                            minlength="6" maxlength="18" ng-change="ChangeClick()" class="form-control bg-transparent">
                        <input type="password" id="confirmPassword" name="confirmPassword" class="inputFields"
                            placeholder="Confirm Password" ng-model="PasswordResetModel.ConfirmPassword"
                            ng-required="true" minlength="6" maxlength="18" ng-change="ChangeClick()" />

                        <div class="fv-plugins-message-container invalid-feedback" ng-="ErrorMessage"
                            ng-if="ErrorMessage!=''" translate>{{ErrorMessage}}</div>
                    </div>
                    <div class="d-flex flex-wrap justify-content-center pb-lg-0">
                        <button type="submit" value="Submit password" class="btn btn-primary me-4">
                            <span class="indicator-label">Submit</span>
                            <span class="indicator-progress">Please wait...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                        </button>
                        <a ui-sref="login" class="btn btn-light">Cancel</a>
                    </div>

                </form>
                <form class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework" name="resetForm_Confirm" id="resetForm_Confirm" style="display: none;">
           
                <div class="text-center mb-10">
                    <h1 class="text-dark fw-bolder mb-3">Reset Password</h1>
                </div>
                <div class="fv-row mb-8 fv-plugins-icon-container">
                    <span style="text-align: center; color: green;" ng-="Message" ng-if="Message!=''"
                    translate>{{Message}}</span>
                <br>
                </div>
                <div class="d-flex flex-wrap justify-content-center pb-lg-0">
                
                    <a ui-sref="login" class="btn btn-primary">Login</a>
                </div>

            </form>
            </div>
        </div>
    </div>
</div>