<div class="mainwrap addnewadd">

    <div class="header">
        <div class="header-inner">
            <div class="nav-sidebar align-left">
                <div class="backtopage"><img src="./clients/{{$root.ClientSettings.Client}}/images/back-arrow.svg"/></div>
            </div><!--nav-sidebar-->
            <div class="header-text"><span translate>ChangePassword</span></div>
            <ng-include src="'partials/header.html'"></ng-include>
        </div>
        </div><!--header-->

    <div class="maincontentarea">

        <div class="content greybg">
            
            <div class="categories">

                <div class="login-reg">
                    <form name="passwordForm" id="PasswordForm">
                        <ul>
                            <!--<li>
                                <span class="resultClass" ng-show="ResultMessage != ''" ng-bind="ResultMessage"></span>
                            </li>-->
                            <li>
                                <span class="fname">
                                    <input type="password" name="OldPassword" ng-model="changePasswordDTO.OldPassword" ng-required="true" placeholder="{{'Oldpasswordrequired'|translate}}">
                                    <span style="color:red;" ng-show="isSubmitted && passwordForm.OldPassword.$error.required" translate>EnterOldPassword</span>
                                </span>
                            </li>
                            <li>
                                <span class="fname">
                                    <span class="password"><input name="NewPassword" type="password" placeholder="{{'Pass6required'|translate}}" ng-minlength="6" ng-model="changePasswordDTO.NewPassword" ng-required="true"></span>
                                    <span style="color:red;" ng-show="isSubmitted && passwordForm.NewPassword.$error.required" translate>Passwordisrequired</span>
                                    <span style="color:red;" ng-show="isSubmitted && passwordForm.NewPassword.$error.minlength" translate>Passwordshouldhavemin6characters</span>
                                </span>
                            </li>
                            <li>
                                <span class="password"><input name="ConfirmPassword" ng-model="ConfirmNewPassword" type="password" placeholder="{{'Confirmpassword'|translate}}" ng-required="true" ng-minlength="6" ng-pattern="changePasswordDTO.NewPassword"></span>
                                <span style="color:red;" ng-show="isSubmitted && passwordForm.ConfirmPassword.$error.required" translate>Passwordisrequired-new</span>
                                <!--<span class="eyeicon"></span>-->
                                <span style="color:red;" ng-show="isSubmitted && passwordForm.ConfirmPassword.$error.pattern" translate>Passwordsdonotmatch</span>
                            </li>
                        </ul>
                    </form>

                </div>
            </div><!--offers-->
        </div><!--content-->

    </div><!--maincontentarea-->
    <div class="add-edit-addr">
        <div class="add-edit-cancle"><button type="button" value="Cancel" ng-click="Back()" translate>CANCELPassword</button></div>
        <div class="add-edit-save"><button type="submit" value="Save" ng-click="ChangePassword()" translate>SAVEPassword</button></div>
    </div>
</div>