<div class="maincontentarea noSearch hasstickyBtmBtns">

    <div class="fullwidth align-left">

        <div class="login-reg">
            <ul class="boxShadow">
                <!--<li><span class="email">Name :<input type="text" disabled value="{{Address.FirstName + ' ' + (Address.LastName != undefined && Address.LastName != null ?  Address.LastName : '')}}"></span></li>-->
                <li>
                    <span class="fieldWrap">
                        <label class="mandateLabel"><span translate>FirstName:</span><sup
                                class="red">*</sup></label>
                        <input type="text" name="FirstName" maxlength="100" ng-model="Address.FirstName"
                            ng-required="true">
                        <span class="red inputerroraddress"
                            ng-show="isSubmitted  && addForm.FirstName.$error.required"
                            translate>EnterFirstName</span>
                    </span>
                </li>
                <li>
                    <span class="fieldWrap">
                        <label translate>LastName:</label><input type="text" maxlength="100"
                            name="LastName" ng-model="Address.LastName">
                    </span>
                </li>
                <li>
                    <span class="fieldWrap">
                        <label class="mandateLabel"><span translate>Telephone/Mobile:</span><sup
                                class="red">*</sup></label>
                        <input type="text" inputmode="numeric" name="MobileNo1" maxlength="50"
                            ng-model="Address.MobileNo1" ng-required="true">
                        <span class="red inputerroraddress"
                            ng-show="isSubmitted  && addForm.MobileNo1.$error.required"
                            translate>EnterMobile</span>
                    </span>
                </li>
                <li>
                    <span class="fieldWrap">
                        <label class="mandateLabel"><span translate>LOCATION</span><sup
                                class="red">*</sup></label>
                        <select ng-model="Address.AreaID" name="Area"
                            ng-options="area.AreaID as area.AreaName for area in Areas"
                            ng-required="isAreaRequired" ng-click="Event=$event"
                            ng-change="GetLocationsChangeEvent(Address.AreaID, Event)">
                            <option value="" translate>SelectArea</option>
                        </select>
                        <span class="pointer"></span>
                        <span class="red inputerror"
                            ng-show="isSubmitted && isAreaRequired && addForm.Area.$error.required"
                            translate>SelectArea1</span>
                    </span>

                </li>
                <li ng-if="$root.ClientSettings.BuildingNameID != -1">
                    <span class="fieldWrap" feature-flag="register-with-location">
                        <label class="mandateLabel"><span translate>BUILDINGNAME</span><sup
                                class="red">*</sup></label>
                        <select ng-required="true" name="location" id="location" ng-model="Address.LocationID">
                            <option ng-repeat="location in Locations" value="{{location.LocationID}}">
                                {{location.LocationName}}</option>
                        </select>
                        <span class="pointer"></span>
                        <span class="red inputerror"
                            ng-show="isSubmitted && addForm.location.$error.required"
                            translate>CHOOSEBUILDINGNAME</span>
                    </span>
                </li>
                <li>
                    <span class="fieldWrap" feature-flag="register-with-location">
                        <label class="mandateLabel" ng-if="$root.ClientSettings.BuildingNameID != -1"><span translate>OTHERBUILDINGNAME</span></label>
                        <label class="mandateLabel" ng-if="$root.ClientSettings.BuildingNameID == -1"><span translate>BUILDINGNAME</span></label>

                        <input ng-disabled="Address.LocationID != -1 && $root.ClientSettings.BuildingNameID != -1" type="text" name="Location"
                            maxlength="100" ng-model="Address.Location">

                        <span class="red inputerror"
                            ng-show="isSubmitted && addForm.Location.$dirty && addForm.Location.$error.required"
                            translate>ENTERBUILDINGNAME</span>
                    </span>
                </li>
                <li feature-flag="register-with-manual-address">
                    <span class="fieldWrap locateStore">
                        <label class="mandateLabel"><span>{{'Address'|translate}}</span><sup
                                class="red">*</sup>
                        </label>
                        <textarea type="text" name="AddressLine1" ng-model="Address.AddressLine1"
                            maxlength="100" placeholder="{{'Address:'|translate}}"
                            ng-required="true"></textarea>

                        <span class="red inputerror"
                            ng-show="isSubmitted && addForm.AddressLine1.$error.required"
                            translate>Address</span>
                    </span>
                </li>
                <li>
                    <span class="fieldWrap">
                        <label translate>LandMark:</label>
                        <input type="text" name="LandMark" ng-model="Address.LandMark" maxlength="100"
                            placeholder="{{'LandMark:'|translate}}">
                    </span>
                </li>
                <li>
                    <span class="fieldWrap">                                        
                        <label class="mandateLabel"><span translate>FLATORVILLA</span><sup
                                class="red">*</sup></label>
                        <input name="FirstName" type="text"
                            placeholder="{{'FlatNumberRequired'|translate}}"
                            ng-model="Address.BuildingNo" ng-required="true">
                        <span class="red inputerror"
                            ng-show="isSubmitted && addForm.FlatName.$error.required"
                            translate>FlatNameRequired</span>
                    </span>

                </li>
            </ul>
                

        </div>

    </div>


</div>