<div class="app-page flex-column flex-column-fluid" ng-controller="OnlinePaymentController">
    <div class="app-content flex-column-fluid">

<ng-include src="'partials/Templates/header.html'" class="app-header d-flex"></ng-include>

        <div class="app-container container-xxl pt-5">
            <div class="card h-md-100" dir="ltr" ng-init="init('Initiate')">
                <div class="card-body d-flex flex-column flex-center">
                    <div class="mb-2">
                        <h1 class="fw-semibold text-gray-800 text-center lh-lg">
                            You will be redirected to the secure payment page to complete payment
                            <span class="fw-bolder">If you need to cancel please tap on cancel button</span>
                        </h1>
                        <div class="py-10 text-center">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mb-1">
                        <a class="btn btn-sm btn-primary me-2" ui-sref="singlecheckout">
                            Cancel Payment </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>