<div class="app-page flex-column flex-column-fluid" ng-controller="ApplicationStatusController">


    <div class="app-content flex-column-fluid">
        <div class="app-header d-flex shodow-sm">
            <!--begin::Header container-->
            <div class="app-container container-xxl d-flex align-items-center justify-content-between ios-pt-12"
                id="kt_app_header_container">
                <!--begin::Logo-->
                <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0 me-lg-15">
                    <a ng-click="$root.goBack()" class=" p-5 ms-n5">
                        <img alt="Logo" src="./clients/{{$root.ClientSettings.Client}}/images/back-arrow.svg" class="h-25px">
                    </a>
                </div>
                <!--end::Logo-->
                <!--begin::Header mobile toggle-->
                <div class="d-flex align-items-center d-lg-none ms-2" title="Show sidebar menu">

                </div>
                <!--end::Header mobile toggle-->
            </div>
            <!--end::Header container-->
        </div>
        <div class="app-toolbar py-3 py-lg-0">
            <div class="app-container container-xxl d-flex flex-stack">
                <div class="page-title d-flex flex-column justify-content-center me-3">
                    <h1 class="page-heading d-flex text-dark fw-bold fs-2 flex-column justify-content-center my-0">
                        Student Application status
                    </h1>
                </div>
                <div class="d-flex align-items-center gap-2 gap-lg-3">

                </div>
            </div>
        </div>
        <div class="app-container container-xxl pt-5">

            <div class="tab-content">
                <div class="tab-pane fade show active">
                    <div class="row g-6 g-xl-9" >
                        <div class="col-md-6 col-xxl-4">
                            <div class="alert alert-info d-flex align-items-center p-5 mb-10" role="alert"
                                ng-if="!ShowLoader">
                                <span class="svg-icon svg-icon-2hx svg-icon-primary me-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>

                                </span>
                                <div class="d-flex flex-column">
                                    <h3 class="mb-1 text-gray-600"> Please login to parent portal to initiate application. <a href="https://parent.pearlschool.org/"
                                        class="alert-link">Please click here</a> to login to parent portal.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xxl-4"  ng-repeat="application in Applications">
                            <div class="card">
                                <div class="card-body p-lg-20">
                                    <div class="d-flex flex-column flex-xl-row">
                                        <div class="flex-lg-row-fluid me-xl-18 ">
                                            <div class="mt-n1">
                                                <div class="m-0">

                                                    <h6 class="mb-8 fw-bolder text-gray-600 text-hover-primary"></h6>

                                                </div>
                                                <div class="m-0">

                                                    <div class="row g-5 mb-11">
                                                        <div class="mb-8">
                                                            <span class="badge badge-light-success me-2" ng-bind-html="application.ApplicationNumber"></span>
                                                            <span class="badge badge-light-success me-2" ng-bind="application.ApplicationStatusDescription"></span>

                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="fw-bold fs-7 text-gray-600 mb-1">Name
                                                            </div>
                                                            <div
                                                                class="fw-bold fs-6 text-gray-800 d-flex align-items-center flex-wrap">
                                                                <span class="pe-2">
                                                                    <span ng-bind="application.FirstName"></span>
                                                                    <span ng-bind="application.MiddleName"></span>
                                                                    <span ng-bind="application.LastName"></span>
                                                                </span>
                                                            </div>

                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="fw-bold fs-7 text-gray-600 mb-1">Contact no
                                                            </div>
                                                            <div
                                                                class="fw-bold fs-6 text-gray-800 d-flex align-items-center flex-wrap">
                                                                <span class="pe-2"
                                                                ng-bind="application.MobileNumber"></span>
                                                            </div>

                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="fw-bold fs-7 text-gray-600 mb-1">Date

                                                            </div>
                                                            <div
                                                                class="fw-bold fs-6 text-gray-800 d-flex align-items-center flex-wrap">
                                                                <span class="pe-2">{{application.CreatedDate | date  | date:'dd/MM/yyyy'}}</span>
                                                            </div>

                                                        </div>
                                                        <div class="col-sm-6">
                                                        <a href="NewSiblingApplication?Id={{application.ApplicationIID}}">
                                                            <span class="edit" ng-if="application.ApplicationStatusID !=4 && application.ApplicationStatusID !=5 && application.ApplicationStatusID !=7 && application.ApplicationStatusID !=8 && application.ApplicationStatusID !=9 && application.ApplicationStatusID !=10" ng-hide="edit"><i class="material-icons small" title="edit">edit</i></span>
                                                             </a>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6 col-xxl-4">
                            <div class="alert alert-danger d-flex align-items-center p-5 mb-10" role="alert"
                            ng-if="!ShowPreLoader && Applications.length == 0">
                                <span class="svg-icon svg-icon-2hx svg-icon-danger me-4">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5"
                                            fill="currentColor" />
                                        <rect x="7" y="15.3137" width="12" height="2" rx="1"
                                            transform="rotate(-45 7 15.3137)" fill="currentColor" />
                                        <rect x="8.41422" y="7" width="12" height="2" rx="1"
                                            transform="rotate(45 8.41422 7)" fill="currentColor" />
                                    </svg>
                                </span>
                                <div class="d-flex flex-column">
                                    <h3 class="mb-1 text-danger">Not found!</span>
                                        <span>No application found.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
