<div ng-controller="ExamListController">

    <div class="app-header d-flex shodow-sm">
        <div class="app-container container-xxl d-flex align-items-center justify-content-between ios-pt-12"
            id="kt_app_header_container">
            <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0 me-lg-15">
                <a ng-click="$root.goBack()" class=" p-5 ms-n5">
                    <img alt="Logo" src="./clients/{{$root.ClientSettings.Client}}/images/back-arrow.svg" class="h-25px">
                </a>
            </div>
            <div class="d-flex align-items-center d-lg-none ms-2" title="Show sidebar menu">

            </div>
        </div>
    </div>

    <div class="app-toolbar py-3 py-lg-0">
        <div class="app-container container-xxl d-flex flex-stack">
            <div class="page-title d-flex flex-column justify-content-center me-3">
                <h1 class="page-heading d-flex text-dark fw-bold fs-2 flex-column justify-content-center my-0">Online Exam
                </h1>
            </div>
            <div class="d-flex align-items-center gap-2 gap-lg-3">

            </div>
        </div>
    </div>
  <div class="containerWrap" id="OnlineExamMaps" ng-init="Init()">
        <div class="row g-5 g-xl-10">

            <!-- Welcome Banner - Full width on all devices -->
            <div class="col-12">
                <div class="main-carousel" data-flickity='{ "freeScroll": true }'>
                    <div class="carousel-cell is-selected w-100">
                        <img src="./images/examonlinebanner.svg" class="img-fluid is-selected" alt="Online Exam Dashboard"/>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6" ng-repeat="examData in CandidateOnlineExams">
    <div class="card">
        <div class="card-body d-flex flex-column justify-content-between p-4">

            <!-- Top Section (Duration + Exam Name + Questions/Marks) -->
            <div>
                <!-- Duration -->
                <div class="text-success fw-semibold fs-6 mb-1">
                    <i class="ki-duotone ki-time fs-5 me-1"><span class="path1"></span><span class="path2"></span></i>
                    {{examData.Duration}} mins + addon {{examData.AdditionalTime}} mins
                </div>

                <!-- Exam Name -->
                <h5 class="fw-bold text-dark mb-2" ng-bind="examData.OnlineExamName"></h5>

                <!-- Questions + Marks -->
                <div class="d-flex align-items-center text-muted fs-6">
                    <span class="me-3 fw-semibold">{{examData.TotalQuestions}} Questions</span>
                    <i class="ki-duotone ki-check-circle fs-5 me-1 text-success"></i>
                    {{examData.OnlineExamDTO.MaximumMarks}} Marks
                </div>
            </div>

            <!-- Bottom Section (Actions / Status) -->
            <div class="d-flex justify-content-end align-items-center mt-4 border-top pt-3">
                <!-- Left Side Warning -->
                <div ng-if="examData.MaximumMarks != examData.CandidateExamQuestionsTotalMarks" 
                     class="text-warning small">
                    Insufficient questions available to start the exam.
                </div>

                <!-- Right Side Buttons -->
                <div class="d-flex gap-3">
                    <!-- Start / Resume -->
                    <button type="button" class="btn btn-sm btn-primary px-4 button-pill" 
                            ng-if="!examData.IsCandidateConductedExam"
                            ng-click="StartExam(examData)">
                        <span ng-if="examData.OnlineExamStatusID == ExamStartedStatusID">Resume</span>
                        <span ng-if="examData.OnlineExamStatusID != ExamStartedStatusID">Start</span>
                    </button>

                    <!-- View Result -->
                    <div type="button" class="badge badge-light-primary py-2 px-3"
                            ng-if="examData.IsCandidateConductedExam">
                        Completed
                </div>
                </div>
            </div>

        </div>
    </div>
</div>
        </div>


             <!-- No Exams Message -->
            <div class="col-12" ng-if="!CandidateOnlineExams || CandidateOnlineExams.length === 0">
                 <div class="card card-body text-center">
                     <p class="text-muted m-0">No exams are available at this time.</p>
                 </div>
            </div>
  </div>

</div>