<div class="app-page flex-column flex-column-fluid" ng-controller="PaymentGatewayStatusController">
    <div class="app-content flex-column-fluid">
        <div class="app-header d-flex shodow-sm">
            <!--begin::Header container-->
            <div class="app-container container-xxl d-flex align-items-center justify-content-between ios-pt-12"
                id="kt_app_header_container">
                <!--begin::Logo-->
                <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0 me-lg-15">
                    <a ng-click="$root.goPaymentHistory()" class=" p-5 ms-n5">
                        <img alt="Logo" src="./clients/{{$root.ClientSettings.Client}}/images/back-arrow.svg" class="h-25px">
                    </a>
                </div>
                <!--end::Logo-->
                <!--begin::Header mobile toggle-->
                <div class="d-flex align-items-center d-lg-none ms-2" title="Show sidebar menu">
                  
                </div>
                <!--end::Header mobile toggle-->
            </div>
            <!--end::Header container-->
        </div>

        <div class="app-container container-xxl pt-5">

 
            <div class="row row-eq-height"  ng-init="init('Failed')">
                <div class="col-xl-4">
                <div class="p-md-sm-0  fontawesome-demo">
                            <div class="card card-flush">
                                <div class="card-body py-15 py-lg-20 d-flex flex-column align-items-center justify-content-center">
                                    <!--begin::Logo-->
                                    <div class="mb-7">
                                        <a class="">
                                            <img alt="Logo" src="./clients/{{$root.ClientSettings.Client}}/images/pearl_logo.png" class="h-40px">
                                        </a>
                                    </div>
                                    <!--end::Logo-->
                                    <!--begin::Title-->
                                    <h3 class="fw-bolder text-gray-900 mb-5"> Payment failed!</h3>
                                    <!--end::Title-->
                                    <!--begin::Illustration-->
                                    <div class="mb-0">
                                        <!-- <img src="~/images/payment-failure.svg" class="mw-100 h-300px theme-light-show" alt=""> -->
                                        <img src="./clients/{{$root.ClientSettings.Client}}/images/card-payment-failure.svg" class="mw-100 h-300px theme-light-show" alt="">
                                    </div>
                                    <!--end::Illustration-->
                                    <!--begin::Text-->
                                    <div class="fw-semibold fs-6 text-gray-700 mb-7 text-center">
                                        Sorry, we couldn't process your payment.
                                        <br>If money was debited from your account,<br />
                                         contact school finance and IT team for further updates.</br>
                                        Feel free to contact<br />
                                        <span style="color:#50cd89; font-weight: 600">accounts.office@pearlschool.org</span>
                                    <span style="color:#50cd89; font-weight: 600">itsupport@pearlschool.org</span>
                                    </div>
                                    <!--end::Text-->
                                    <!--begin::Link-->
                                    <div class="mb-0">
                                        <a  ui-sref="feepaymenthistory" class="btn btn-sm btn-primary">Ok</a>
                                    </div>
                                    <!--end::Link-->
                                </div>
                            </div>

                </div>
                </div>  
            </div>
        </div>
    </div>
</div>