<div class="forgetpasswd" ng-controller="ForgotPasswordController">
    <div class="forgetpasswd-blk">
        <i ng-click="ClosePopup()" id="closeforgotpassword" class="fa fa-close"></i>
        <span translate>RegEmailAddress</span>
        <form name="forgotPasswordForm" id="forgotPasswordForm" novalidate>
            <input type="email" name="Email" placeholder="{{'EnterEmailID'|translate}}" ng-model="EmailID" ng-required="true" />
            <span class="red inputerror" ng-show="submitted && forgotPasswordForm.Email.$error.required" translate>EmailIsRequired</span>
            <span class="red inputerror" ng-show="submitted && forgotPasswordForm.Email.$error.email" translate>EntervalidEmail</span>
            <!--<input type="submit" class="button-orange" ng-click="Submit()" value="Submit"/>-->
            <button type="submit" class="button-orange" ng-click="Submit()" translate>Submit</button>
        </form>
    </div>
</div>