<div class="headerInner fullwidth alignleft">
    <div class="loginLogo innerPage"><img src="./clients/{{$root.RootUrl.Client}}/full_logo.png"/></div>
    <a href="#" data-target="slide-out" class="sidenav-trigger">
        <div class="leftMenuIcon"><span></span><span></span><span></span></div>
    </a>
    
    <div class="headerRight alignright">
        <div class="notifyIcon"><i class="fa fa-bell-o"></i></div>
        <div class="searchIcon"></div>
    </div> 
</div>
<div ng-if="$root.ShowPreLoader" class="linePreloader"></div>

