
<div class="PositionRelative" ng-controller="HomeBannerController" ng-init="init()">
    <div ng-show="ShowLoaders" id="HomeBannerLoader" class="LoaderSmall">
        <div>
            <i class="fa fa-spinner fa-pulse"></i>
        </div>
    </div>
    <div>
        <div>
            <div class="item maxwidth" ng-repeat="banner in $root.HomeBanners" style="margin-top: 5px;margin-bottom: 5px;">
                <!--<a href="" ng-click="WebView(banner.Link)" ng-if="banner.isInternalLink == false && banner.Link != '' && banner.Link != null"><img ng-src="{{banner.BannerFile}}" /></a>
                <a href="" ui-sref="banner.Link" ng-if="banner.isInternalLink == true && banner.Link != '' && banner.Link != null"><img ng-src="{{banner.BannerFile}}" /></a>
                <img ng-src="{{banner.BannerFile}}" ng-if="banner.Link == '' || banner.Link == null" />-->
               <a ng-if="banner.isInternalLink == true && banner.Link != '' && banner.Link != undefined && banner.Link != null" ui-sref="{{banner.Link}}"><img width="100%" ng-src="{{banner.BannerFile}}" loading="lazy" /></a>
                <a ng-if="banner.isInternalLink == false && banner.Link != '' && banner.Link != undefined && banner.Link != null" ng-click="$root.WebView(banner.Link)"><img width="100%" ng-src="{{banner.BannerFile}}" loading="lazy"/></a>
                <a ng-if="banner.isInternalLink == false && (banner.Link == '' || banner.Link == undefined || banner.Link == null)"><img width="100%" ng-src="{{banner.BannerFile}}" loading="lazy" /></a>
                <!--<a href="" ng-click="$root.WebView('http://www.itradeerp.com')"><img ng-src="{{banner.BannerFile}}" /></a>-->
            </div>
        </div>
    </div>
    <!--<div class="swiper-pagination"></div>
    <div class="swiper-button-prev prevslider "></div>
    <div class="swiper-button-next nextslider"></div>-->
</div>