<div class="w-100 flex-lg-row-fluid mx-lg-13">
    <div class="d-flex flex-wrap flex-stack mb-6">
        <!--begin::Title-->
        <h3 class="text-gray-800 fw-bold my-2">My Connections 
        <span class="fs-6 text-gray-400 fw-bold ms-1">(29)</span></h3>
        <!--end::Title-->
        <!--begin::Controls-->
        <div class="d-flex my-2">
        </div>
        <!--end::Controls-->
    </div>
    <!--end::Followers toolbar-->
    <!--begin::Row-->
    <div class="row g-6 mb-6 g-xl-9 mb-xl-9">
        <!--begin::Followers-->
        <!--begin::Col-->
        <div class="col-6">
            <!--begin::Card-->
            <div class="card">
                <!--begin::Card body-->
                <div class="card-body d-flex flex-center flex-column py-9 px-5">
                    <!--begin::Avatar-->
                    <div class="symbol symbol-65px symbol-circle mb-5">
                        <img src="/metronic8/demo23/assets/media//avatars/300-11.jpg" alt="image">
                        <div class="bg-success position-absolute rounded-circle translate-middle start-100 top-100 border border-4 border-body h-15px w-15px ms-n3 mt-n3"></div>
                    </div>
                    <!--end::Avatar-->
                    <!--begin::Name-->
                    <a href="#" class="fs-4 text-gray-800 text-hover-primary fw-bold mb-6">Patric Watson</a>
                 
                    <div class="d-flex flex-center flex-wrap mb-5">
                        <!--begin::Stats-->
                        <div class="border border-dashed rounded min-w-90px py-3 px-4 mx-2 mb-3">
                            <div class="fs-6 fw-bold text-gray-700">$14,560</div>
                            <div class="fw-bold text-gray-400">Earnings</div>
                        </div>
                    </div>
                    <!--end::Info-->
                    <!--begin::Follow-->
                    <button class="btn btn-sm btn-light-primary" data-kt-follow-btn="true">
                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr012.svg-->
                        <span class="svg-icon following svg-icon-3">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.3" d="M10 18C9.7 18 9.5 17.9 9.3 17.7L2.3 10.7C1.9 10.3 1.9 9.7 2.3 9.3C2.7 8.9 3.29999 8.9 3.69999 9.3L10.7 16.3C11.1 16.7 11.1 17.3 10.7 17.7C10.5 17.9 10.3 18 10 18Z" fill="currentColor"></path>
                                <path d="M10 18C9.7 18 9.5 17.9 9.3 17.7C8.9 17.3 8.9 16.7 9.3 16.3L20.3 5.3C20.7 4.9 21.3 4.9 21.7 5.3C22.1 5.7 22.1 6.30002 21.7 6.70002L10.7 17.7C10.5 17.9 10.3 18 10 18Z" fill="currentColor"></path>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                        <span class="svg-icon follow svg-icon-3 d-none">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="currentColor"></rect>
                                <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor"></rect>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <!--begin::Indicator label-->
                        <span class="indicator-label">Following</span>
                        <!--end::Indicator label-->
                        <!--begin::Indicator progress-->
                        <span class="indicator-progress">Please wait... 
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                        <!--end::Indicator progress-->
                    </button>
                    <!--end::Follow-->
                </div>
                <!--begin::Card body-->
            </div>
            <!--begin::Card-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-6">
            <!--begin::Card-->
            <div class="card">
                <!--begin::Card body-->
                <div class="card-body d-flex flex-center flex-column py-9 px-5">
                    <!--begin::Avatar-->
                    <div class="symbol symbol-65px symbol-circle mb-5">
                        <img src="/metronic8/demo23/assets/media//avatars/300-6.jpg" alt="image">
                    </div>
                    <!--end::Avatar-->
                    <!--begin::Name-->
                    <a href="#" class="fs-4 text-gray-800 text-hover-primary fw-bold mb-6">Olivia Larson</a>

                    <div class="d-flex flex-center flex-wrap mb-5">
                        <!--begin::Stats-->
                        <div class="border border-dashed rounded min-w-90px py-3 px-4 mx-2 mb-3">
                            <div class="fs-6 fw-bold text-gray-700">$14,560</div>
                            <div class="fw-bold text-gray-400">Earnings</div>
                        </div>
                        <!--end::Stats-->
                    </div>
                    <!--end::Info-->
                    <!--begin::Follow-->
                    <button class="btn btn-sm btn-light" data-kt-follow-btn="true">
                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                        <span class="svg-icon follow svg-icon-3">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="currentColor"></rect>
                                <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor"></rect>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr012.svg-->
                        <span class="svg-icon following svg-icon-3 d-none">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.3" d="M10 18C9.7 18 9.5 17.9 9.3 17.7L2.3 10.7C1.9 10.3 1.9 9.7 2.3 9.3C2.7 8.9 3.29999 8.9 3.69999 9.3L10.7 16.3C11.1 16.7 11.1 17.3 10.7 17.7C10.5 17.9 10.3 18 10 18Z" fill="currentColor"></path>
                                <path d="M10 18C9.7 18 9.5 17.9 9.3 17.7C8.9 17.3 8.9 16.7 9.3 16.3L20.3 5.3C20.7 4.9 21.3 4.9 21.7 5.3C22.1 5.7 22.1 6.30002 21.7 6.70002L10.7 17.7C10.5 17.9 10.3 18 10 18Z" fill="currentColor"></path>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <!--begin::Indicator label-->
                        <span class="indicator-label">Follow</span>
                        <!--end::Indicator label-->
                        <!--begin::Indicator progress-->
                        <span class="indicator-progress">Please wait... 
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                        <!--end::Indicator progress-->
                    </button>
                    <!--end::Follow-->
                </div>
                <!--begin::Card body-->
            </div>
            <!--begin::Card-->
        </div>
</div>


<section class="" ng-controller="ProductListWidgetByTagController">

    <div class="container " style="padding: 0;">
        <div class="dsh-menu-cnt ">
            

<div class="product-inner recommended product-list-by-tag PositionRelative fullwidth align-left" >
    <div ng-if="isLoaded && ProductLists.length > 0">
        <div ng-show="ShowLoaders" class="LoaderSmall">
            <div>
                <i class="fa fa-spinner fa-pulse"></i>
            </div>
        </div>
        <div class="product-title fullwidth align-left {{TitleCss}}"><span ng-bind="WidgetTitle"></span>
            <a class="topbutton" href="" ui-sref="productlists({searchText:'',filterBy:'skutags',filterValue:'skutags:' 
            + RecommendedTag,filterText:'',sortText:'relevance',pageType:'Recommended',searchTitle:WidgetTitle,caption:WidgetTitle})">ViewAll</a>
        </div>
        <div class="fullwidth align-left innerwrap">
            <div class="swiper-container products test">
                <div class="item-wrapper">
                    <div class="item-container" ng-repeat="rec in ProductLists">
                        <div class="item-contentInner flex-column" ng-class="{'notInStock' : rec.ProductDiscountPrice == 0 || rec.ProductAvailableQuantity <= 0  }">
                            <a ui-sref="productdetails({skuID:rec.SKUID})">
                                <span class="recommend-img">
                                <img loading="lazy" ng-src="{{rec.ProductListingImage}}" 
                                on-error-src="{{rootUrl.ErrorProductImageUrl}}" />
                                </span>
                                <span class="dataDescription">
                                    <span class="caption" ng-bind-html="SkipValidation(rec.ProductName)"></span>
                                    <span class="oldprice" ng-if="rec.ProductPrice != rec.ProductDiscountPrice">
                                        <del ng-bind="rec.ProductPrice | currency : $root.DefaultDisplayCurrency"></del>
                                    </span>
                                    <span class="amount text-grey-700" ng-if="rec.ProductDiscountPrice > 0" ng-bind="rec.ProductDiscountPrice | currency : $root.DefaultDisplayCurrency "></span> 
                                </span>
                            </a>
                            <span class="discount" ng-if="rec.ProductPrice != rec.ProductDiscountPrice && ((((rec.ProductPrice - rec.ProductDiscountPrice)/rec.ProductPrice) * 100)) > 1">
                                <span translate>OFFER</span>&nbsp;
                                <span ng-bind="((((rec.ProductPrice - rec.ProductDiscountPrice)/rec.ProductPrice) * 100)) + '%' "></span>
                            </span>
                            <div class="qty_cart_container">
                                <span class="addtocart" ng-if="rec.ProductDiscountPrice > 0 && rec.ProductAvailableQuantity > 0"><a href="" ng-click="AddtoCart(rec,'1');"><label>Add to Cart</label></a></span>     
                                <span class="addtocart outofstock" ng-if="rec.ProductDiscountPrice == 0 || rec.ProductAvailableQuantity <= 0">
                                    <a class="btnStyle" href="" ng-click="$root.NotifyMeProductSKUID = rec.SKUID;">
                                        <span class="whiteColor" translate>NOTIFYME</span></a>
                                    </span>                      
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--swipe-->
        </div>
    </div>
</div>
        
        </div>
       
       
    </div>
</section>

