<div ng-controller="StudentPickupRequestListController">
    <div class="app-header d-flex">
        <!--begin::Header container-->
        <div class="app-container container-xxl d-flex align-items-center justify-content-between ios-pt-12"
            id="kt_app_header_container">
            <!--begin::Logo-->
            <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0 me-lg-15">
                <a ng-click="$root.goBack()" class=" p-5 ms-n5">
                    <img alt="Logo" src="./clients/{{$root.ClientSettings.Client}}/images/back-arrow.svg" class="h-25px">
                </a>
            </div>
            <!--end::Logo-->
            <!--begin::Header mobile toggle-->
            <div class="d-flex align-items-center d-lg-none ms-2" title="Show sidebar menu">

            </div>
            <!--end::Header mobile toggle-->
        </div>
        <!--end::Header container-->
    </div>

    <div class="app-toolbar py-3 py-lg-0">
        <div class="app-container container-xxl d-flex flex-stack">
            <div class="page-title d-flex flex-column justify-content-center me-3">
                <h1 class="page-heading d-flex text-dark fw-bold fs-2 flex-column justify-content-center my-0">Pickup
                    requests</h1>
            </div>
            <div class="d-flex align-items-center gap-2 gap-lg-3">
                <a class="btn btn-sm fw-bold btn-primary text-white" ng-click="NewStudentPickupRequestClick()">Pickup
                    Request</a>
            </div>
        </div>
    </div>
    <div class="app-container container-xxl pt-5">
        <div class="row g-5 g-xl-10 mb-xl-10">
            <div class="col-lg-12 col-xl-12 col-xxl-6 mb-5 mb-xl-0" ng-init="init()">
                <div class="card h-md-100" ng-if="StudentLeaveApplications.length != 0">
                    <div class="card-header border-0 pt-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bold text-dark">Pickup requests</span>
                        </h3>
                    </div>
                    <div class="card-body pt-7 px-0" id="studentpickuprequestlist">
                        <div class="tab-content mb-2 pr-4">
                            <div class="tab-pane fade show active" id="kt_timeline_widget_3_tab_content_1"
                                role="tabpanel">
                                <div class="d-flex align-items-center mb-6"
                                    ng-repeat='request in StudentsPickupRequests'>
                                    <span data-kt-element="bullet"
                                        class="bullet bullet-vertical d-flex align-items-center min-h-70px mh-100 me-8"
                                        ng-class="{'bg-primary' : request.RequestStatus == 'New', 'bg-success' : (request.RequestStatus == 'Approved' || request.RequestStatus == 'Picked'), 'bg-danger' : request.RequestStatus == 'Rejected', 'bg-warning' : request.RequestStatus == 'Cancelled'}"></span>
                                    <div class="flex-grow-1 me-5">
                                        <div class="text-gray-400 fw-bold fs-7">Request no :
                                            <a class="text-primary opacity-75-hover fw-bold">Pick -
                                                {{request.StudentPickupRequestIID}}</a>
                                        </div>

                                        <div class="text-gray-400 fw-bold fs-7">Request date :
                                            <a
                                                class="text-primary opacity-75-hover fw-bold">{{request.RequestStringDate}}</a>
                                        </div>

                                        <div class="text-gray-400 fw-bold fs-7">Student :
                                            <a
                                                class="text-primary opacity-75-hover fw-bold">{{request.Student.Value}}</a>
                                        </div>

                                        <div class="text-gray-400 fw-bold fs-7">Pickup by :
                                            <a
                                                class="text-primary opacity-75-hover fw-bold">{{request.PickedByDescription}}</a>
                                        </div>

                                        <div class="text-gray-400 fw-bold fs-7">Pickup person :
                                            <a class="text-primary opacity-75-hover fw-bold">{{request.FirstName}}
                                                {{request.MiddleName}} {{request.LastName}}</a>
                                        </div>

                                        <div class="text-gray-400 fw-bold fs-7">Pickup date :
                                            <a
                                                class="text-primary opacity-75-hover fw-bold">{{request.PickStringDate}}</a>
                                        </div>

                                        <div class="text-gray-400 fw-bold fs-7">From time :
                                            <a
                                                class="text-primary opacity-75-hover fw-bold">{{request.FromStringTime}}</a>
                                        </div>

                                        <div class="text-gray-400 fw-bold fs-7">To time :
                                            <a
                                                class="text-primary opacity-75-hover fw-bold">{{request.ToStringTime}}</a>
                                        </div>

                                        <div class="text-gray-400 fw-bold fs-7">Status :
                                            <a
                                                class="text-primary opacity-75-hover fw-bold">{{request.RequestStatus}}</a>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column me-5">
                                        <!-- <a ng-click='EditLeaveRequestClick(request)'
                                            ng-if="request.RequestStatus == 'New'"
                                            class="btn btn-sm btn-light  mb-2">Edit</a> -->

                                        <a ng-click='CancelPickupRequestClick(request)'
                                            ng-if="request.RequestStatus == 'New'"
                                            class="btn btn-sm btn-light  mb-2">Cancel</a>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-xxl-4">
                    <div class="alert alert-danger d-flex align-items-center p-5 mb-10" role="alert"
                        ng-if="!ShowLoader && StudentLeaveApplications.length == 0">
                        <span class="svg-icon svg-icon-2hx svg-icon-danger me-4"><svg width="24" height="24"
                                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
                                <rect x="7" y="15.3137" width="12" height="2" rx="1" transform="rotate(-45 7 15.3137)"
                                    fill="currentColor" />
                                <rect x="8.41422" y="7" width="12" height="2" rx="1" transform="rotate(45 8.41422 7)"
                                    fill="currentColor" />
                            </svg>
                        </span>
                        <div class="d-flex flex-column">
                            <h3 class="mb-1 text-danger">Leave application not found.</h4>
                                <span>Leave application not found.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>