<div ng-controller="AboutUsController">
    <div class="pageContainer">
        <div class="pageContainerInner">
            <div class="scrollInner">
                <p>Ang Lorem Ipsum ay ginagamit na modelo ng industriya ng pagpriprint at pagtytypeset. Ang Lorem Ipsum ang naging regular na modelo simula pa noong 1500s, noong may isang di kilalang manlilimbag and kumuha ng galley ng type at ginulo ang pagkaka-ayos nito upang makagawa ng libro ng mga type specimen. </p>
                <p>Nalagpasan nito hindi lang limang siglo, kundi nalagpasan din nito ang paglaganap ng electronic typesetting at nanatiling parehas. Sumikat ito noong 1960s kasabay ng pag labas ng Letraset sheets na mayroong mga talata ng Lorem Ipsum, at kamakailan lang sa mga desktop publishing software tulad ng Aldus Pagemaker ginamit ang mga bersyon ng Lorem Ipsum.</p>
                <p>
                    Saan ito nanggaling?
                    Salungat sa kaalaman ng marami, ang Lorem Ipsum ay hindi puro walang kwentang salita lang. Umuugat ito sa klasikong literatura na Latin galing 45 BC, Pinpahiwatig na higit 2000 na ang taong gulang nito.
                </p>
                <p>
                    Si Richard McClintock, isang Latin na propesor sa Hampden-Sydney College sa Viginia, ay hinanap ang isa sa mga tagong salita sa Latin, consectetur, galing sa talata ng Lorem Ipsum, at papunta sa mga siyudad sa mundo sa klasikal na literatura, natuklasan ang walang kadudadudang pinanggalingan.
                </p>
            </div>
        </div>
    </div>
</div><!--about us-->