<div class="productCategoryWidget fullwidth align-left" ng-controller="ProductCategoryWidgetByTagController">
   <div class="product-title fullwidth align-left"><span ng-bind="WidgetTitle"></span>
      <!-- <a class="topbutton" href="" ui-sref="productcategory({searchText:'',filterBy:'skutags',filterValue:'skutags:' 
      + RecommendedTag,filterText:'',sortText:'relevance',pageType:'Recommended',searchTitle:RecommendedTitle})" 
      translate>ViewAll</a> -->
   </div>

    <ul class="displayFlex boxShadow">
        <li class="categoryWidget" ng-repeat="category in Categories" 
        ui-sref="productcategory({filterValue:'Category:' + category.CategoryIID, caption : category.CategoryName, category : category.CategoryCode  })" 
        >
        <span class="categoryMenuWrap categoryWidget" ng-init="setInitials()">
            <span class="categoryIcon" ng-if="category.SlidingImageName">
               <img ng-src="{{category.SlidingImageName}}"/>
               </span> 
            <span class="categoryCaption" translate>{{category.CategoryName}}</span>
            </span>
        </li>      
    </ul>
</div>