:root {
    --primary-color: hsl(247, 55.7%, 38%);
    --Primary-bg-color: hsl(247, 55.7%, 93%);
    --header-outer-height: 110px;
    --header-inner-height: 70px;
    --header-height-difference: calc(
      var(--header-outer-height) - var(--header-inner-height)
    );
    --header-bg: #fff;
    --white: #ffffff;
    --light: #f5f8fa;
    --primary: #009ef7;
    --secondary: #E4E6EF;
    --success: #50cd89;
    --info: #7239ea;
    --warning: #ffc700;
    --danger: #f1416c;
    --dark: #181C32;
    --primary-active: #0095e8;
    --secondary-active: #B5B5C3;
    --light-active: #eff2f5;
    --success-active: #47be7d;
    --info-active: #5014d0;
    --warning-active: #f1bc00;
    --danger-active: #d9214e;
    --dark-active: #131628;
    --primary-light: #f1faff;
    --secondary-light: #f5f8fa;
    --success-light: #e8fff3;
    --info-light: #f8f5ff;
    --warning-light: #fff8dd;
    --danger-light: #fff5f8;
    --dark-light: #eff2f5;
    --primary-inverse: #ffffff;
    --secondary-inverse: #3F4254;
    --light-inverse: #7E8299;
    --success-inverse: #ffffff;
    --info-inverse: #ffffff;
    --warning-inverse: #ffffff;
    --danger-inverse: #ffffff;
    --dark-inverse: #ffffff;
    --white-rgb: 255, 255, 255;
    --light-rgb: 245, 248, 250;
    --primary-rgb: 0, 158, 247;
    --secondary-rgb: 228, 230, 239;
    --success-rgb: 80, 205, 137;
    --info-rgb: 114, 57, 234;
    --warning-rgb: 255, 199, 0;
    --danger-rgb: 241, 65, 108;
    --dark-rgb: 24, 28, 50;
    --text-white: #ffffff;
    --text-primary: #009ef7;
    --text-secondary: #E4E6EF;
    --text-light: #f5f8fa;
    --text-success: #50cd89;
    --text-info: #7239ea;
    --text-warning: #ffc700;
    --text-danger: #f1416c;
    --text-dark: #181C32;
    --text-muted: #A1A5B7;
  }
