<footer class="footer">
    <div class="footer-bottom ios-pb-2 rounded-bottom-0 rounded-4">
        <div class="h-75px">
        <div class="footer-menu app-container container-xxl position-relative flex-center h-100">
            <div class="footer-menu-left">
                <div class="footer-menu-list" ui-sref="home({loadBlocks:false})" ui-sref-opts="{reload: true}">
                    <!-- <img class="footer-menu-list-icon active" src="clients/{{$root.ClientSettings.Client}}/img/home-icon.svg"> -->
                    <span class="footer-menu-list-icon ">
                        <img ng-src="./clients/{{$root.ClientSettings.Client}}/images/home.svg" />
                    </span>
                    <!-- <h3 class="text-grey-800">Home</h3> -->
                </div>
                <div class="footer-menu-list" ui-sref="enroll" ui-sref-opts="{reload: true}" ng-if="!Director">
                    <!-- <img class="footer-menu-list-icon active" src="clients/{{$root.ClientSettings.Client}}/img/options-lines.svg"> -->
                    <span class="footer-menu-list-icon ">
                        <img ng-src="./clients/{{$root.ClientSettings.Client}}/images/messages.svg" />

                    </span>
                    <!-- <h3 class="text-grey-800">My Wards</h3> -->
                </div>
                <div class="footer-menu-list" ui-sref="inbox" ui-sref-opts="{reload: true}" ng-if="!Director">
                    <!-- <img class="footer-menu-list-icon active" src="clients/{{$root.ClientSettings.Client}}/img/options-lines.svg"> -->
                    <span class="footer-menu-list-icon ">
                        <img ng-src="./clients/{{$root.ClientSettings.Client}}/images/person.svg" />

                    </span>
                    <!-- <h3 class="text-grey-800">My Wards</h3> -->
                </div>
            </div>

        </div>

    </div>
</footer>