<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Pearl Staff</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We use the camera to take photos for profile updates and scan barcodes for student pickup verification, ensuring a seamless experience and security during these processes.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>We use Face ID for secure and convenient authentication, letting you unlock the app quickly and protect your personal information.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need access to your location to show current and nearby locations both when the app is active and running in the background, ensuring continuous and accurate location-based services.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We use your location to display current and nearby locations even when the app runs in the background, ensuring accurate and timely information.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to show current and nearby locations while using the app, enhancing your experience with location-based information and services.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need permission to save photos from the app to your photo library so you can store images you create or edit, making content management easier.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We access your photo library so you can upload pictures to update your user profile, providing a personalized experience.</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
