<footer class="footer">
    <div class="footer-bottom ios-pb-2 rounded-bottom-0 rounded-4">
        <div class="h-80px d-flex flex-center  w-100 ">

        <div class="app-container container-xxl">
            <div class="d-flex w-100 flex-row-fluid flex-center justify-content-around">
                <div class="footer-menu-list " ui-sref="home({loadBlocks:false})" ui-sref-opts="{reload: true}">
                    <!-- <img class="footer-menu-list-icon active" src="clients/{{$root.ClientSettings.Client}}/img/home-icon.svg"> -->
                    <span class="footer-menu-list-icon ">
                      <img src="./images/profile/3.svg" />
                    </span>
                    <!-- <h3 class="text-grey-800">Home</h3> -->
                </div>
                <div class="footer-menu-list" ui-sref="notifications({loadBlocks:false})" ui-sref-opts="{reload: true}">
                    <!-- <img class="footer-menu-list-icon active" src="clients/{{$root.ClientSettings.Client}}/img/options-lines.svg"> -->
                    <span class="footer-menu-list-icon ">

                        <img src="./images/profile/2.svg" />


                    </span>
                    <!-- <h3 class="text-grey-800">My Wards</h3> -->
                </div>

                <div class=" footer-menu-list " ui-sref="profile({loadBlocks:false})" ui-sref-opts="{reload: true}">
                    <span class="footer-menu-list-icon  position-relative">
                      <img src="./images/profile/1.svg" />



                    </span>
                    <!-- <h3 class="text-grey-800" >Profile</h3> -->

                </div>
                <!-- <div class="footer-menu-list" data-target="slide-out" class="sidenav-trigger">
                    <span class="footer-menu-list-icon ">
                        <a  data-target="slide-out" class="sidenav-trigger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list text-white" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                              </svg>

                    </a>
                    </span>
                </div> -->


            </div>
        </div>
        </div>
</footer>